.cart_block_container {
  position: relative;

  .cart_block_content {
    color: #fff;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 15;
    background: #ffffff; 
    width: 450px;
    height: 100vh;
    display: flex;
    flex-direction: column; 
    box-shadow: -12px 0px 17px -7px rgba(0, 0, 0, 0.1);

    .title_block_cart {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 30px;
      background: #f7f7f7;
      padding: 20px;
      h1 {
        color: #28282b;
        text-align: center;
      }
      img {
        width: 35px;
        height: 35px;
      }
    }
    .cart_block_item {
      color: #fff;
      display: flex;
      width: 100%;
      padding: 20px;
      a {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;

        .info_item {
          display: flex;
          gap: 20px;
          .wp-post-image {
            width: 150px;
            height: 160px;
            border: 1px solid #ccc;
            object-fit: cover;
            border-radius: 10px;
          }
          .info {
            display: flex;
            flex-direction: column;
            justify-content: space-around;

            .info_title {
              display: flex;
              flex-direction: column;
              h2 {
                font-size: 22px;
                font-weight: 600;
              }
              span {
                font-size: 16px;
                font-weight: 400;
              }
            }
          }
        }
        .info_price_item {
          font-size: 20px;
        }
      }
    }

    .footer_cart {
      display: flex;
      width: 100%;
      align-items: center;
      justify-content: space-between;
      border-top: 1px solid #ececec;
      padding: 20px;
      .btn_continue {
        padding: 12px 15px;
        background: #995018;
        color: #ffffff;
        border-radius: 5px;
        font-size: 16px;
      }
      .btn_cancel {
        color: #ffffff;
        background: #28282b;
        padding: 12px 15px;
        border-radius: 5px;
        font-size: 16px;
      }
    }
  }
}

.cart_container {
  position: relative;
  .cart_content {
    position: relative;
    form {
      position: absolute;
      right: 0;
      left: 0;
      bottom: -2rem;
      margin: 0 auto;
      display: flex;
      align-items: center;
      justify-content: space-between;
      z-index: 5;
      background: $dark-color;
      padding: 15px;
      width: 100%;
      max-width: 550px;
      border-radius: 15px;
      transition: bottom 0.5s;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.329);

      .cart_items {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 0 auto;
      }

      &.hidden {
        background-color: #0f0d0d;
      }

      &.hidden .buy_c {
        background-color: #686868;
        cursor: no-drop;
        opacity: 0.6;
        pointer-events: none;
      }

      .number_c {
        display: flex;
        width: 35%;
      }
      .number_c .btn_number {
        background: transparent;
        border: 1px solid #fff;
        border-radius: 50%;
        display: flex;
        align-items: center;
        padding: 15px;
        color: #fff;
      }

      .number_c .btn_number img {
        width: 18px;
        height: 18px;
      }
    }

    input {
      background: transparent;
      color: #fff;
      font-size: 36px;
      font-weight: 500;
      width: 100%;
      text-align: center;
    }

    input[type='number']::-webkit-inner-spin-button,
    input[type='number']::-webkit-outer-spin-button {
      -webkit-appearance: none;
      appearance: none;
      margin: 0;
    }

    input[type='number'] {
      -moz-appearance: textfield;
    }

    .buy_c {
      background: $primary-color;
      padding: 10px 15px;
      border-radius: 10px;
      color: #fff;
      font-size: 18px;
      font-weight: 600;
      cursor: pointer;
      transition: all 0.5s;
    }

    .buy_c:hover {
      background-color: $hover-color;
    }

    .total_number {
      font-size: 24px;
      font-weight: 500;
      color: #fff;
    }
  }
}
