.cart_block_container {
  position: relative;
  .cart_block_content {
    color: #fff;
    position: fixed;
    top: 0;
    right: -25rem;
    z-index: 15;
    background: #ffffff;
    width: 410px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    box-shadow: -12px 0px 17px -7px rgba(0, 0, 0, 0.1);
    transition: all 0.5s;

    &.active {
      right: 0;
    }

    .title_block_cart {
      margin-bottom: 30px;
      background: #f7f7f7;
      padding: 25px;

      .title_header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 10px;
      }

      span {
        font-size: 15px;
        color: #6f6f6f;
        font-weight: 400;
      }

      h1 {
        color: #28282b;
        text-align: center;
        font-size: 24px;
        font-family: 'new-spirit';
        font-weight: 600;
      }
      .close-cart {
        display: flex;
        align-items: center;
        img {
          width: 30px;
          height: 30px;
          cursor: pointer;
        }
      }
    }
    .cart_block_item {
      
      color: #fff;
      display: flex;
      width: 100%;
      padding: 20px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;

      .info_item {
        display: flex;
        gap: 20px;
        .wp-post-image {
          width: 145px;
          height: 145px;
          border: 1px solid #dbdbdb;
          object-fit: cover;
          border-radius: 12px;
        }
        .info {
          display: flex;
          flex-direction: column;
          justify-content: space-around;

          .info_title {
            display: flex;
            flex-direction: column;
            h2 {
              font-size: 20px;
              font-family: 'new-spirit';
              font-weight: 700;
              color: $text-color;
            }
            span {
              font-size: 14px;
              font-weight: 400;
              color: #acacac;
            }
          }
          .quantity_item {
            display: flex;
            align-items: center;
            gap: 15px;
            .number_c {
              border: 1px solid #dbdbdb;
              display: flex;
              border-radius: 5px;
              text-align: center;

              .btn_number {
                display: flex;
                align-items: center;
                padding: 6px;
                img {
                  width: 13px;
                  height: 13px;
                  filter: brightness(0.5);
                }
              }
              input#quantity {
                text-align: center;
                font-size: 16px;
                font-weight: 600;
                color: #6f6f6f;
              }
              .input-number-decrement {
                border-right: 1px solid #dbdbdb;
              }
              .input-number-increment {
                border-left: 1px solid #dbdbdb;
              }
            }

            a.remove {
              font-size: 13px;
              display: flex;
              align-items: center;
              color: #acacac;
              font-weight: 300;
              text-decoration: revert;
            }
          }
        }
      }
      .info_price_item {
        font-size: 20px;
        line-height: 137%;
        font-weight: 700;
        color: $text-color;
      }

      
    }

    .footer_cart {
      display: flex;
      width: 100%;
      align-items: center;
      flex-direction: column;
      border-top: 1px solid #ececec;
      padding: 20px;
      gap: 15px;
      text-align: center;
      .btn_continue {
        padding: 12px 15px;
        background: #995018;
        color: #ffffff;
        border-radius: 5px;
        font-size: 16px;
        width: 100%;
      }
      .btn_cancel {
        color: #ffffff;
        background: #28282b;
        padding: 12px 15px;
        border-radius: 5px;
        font-size: 16px;
        width: 100%;
      }
      p {
        color: #979797;
        font-size: 12px;
        font-weight: 400;
      }
    }

    .cart-price {
      color: #222;
      display: flex;
      flex-direction: column;

      .cart-subtotal {
        width: 100%;
        display: flex;
        justify-content: space-between;
        padding: 20px;
        span {
          font-size: 18px;
          font-weight: 400;
          color: #222;
        }
        .value_total {
          font-size: 18px;
          font-weight: 700;
        }
      }
    }
    .cart-cupom {
      display: flex;
      align-items: center;
      gap: 15px;
      padding: 20px;

      input[type='text'] {
        border: 1px solid #ccc;
        border-radius: 5px;
        padding: 10px 10px;
        width: 100%;
      }
      span {
        font-size: 16px;
        font-weight: 500;
        color: #000000;
        width: 75%;
      }
    }

    .depoiments_clients {
      padding: 25px;
      color: #000;
      .item_slide {
        display: flex;
        flex-direction: column;
        gap: 25px;
        border: 1px solid #dbdbdb;
        padding: 20px;
        border-radius: 12px;
        .info_title {
          display: flex;
          align-items: center;
          gap: 25px;

          span {
            color: #6f6f6f;
            font-size: 18px;
            font-weight: 600;
            line-height: 160%;
          }
          figure {
            width: 60px;
            height: 60px;
          }
        }
        .info_description {
          color: #6f6f6f;
          font-size: 14px;
          font-weight: 400;
        }
      }
    }

    .empty_cart {
      color: #ababab;
      text-align: center;
      font-weight: 500;
      padding: 40px;
  }
  }
}

.cart_container {
  position: relative;
  .cart_content {
    position: relative;
    form {
      position: absolute;
      right: 0;
      left: 0;
      bottom: -2rem;
      margin: 0 auto;
      display: flex;
      align-items: center;
      justify-content: space-between;
      z-index: 5;
      background: $dark-color;
      padding: 15px;
      width: 100%;
      max-width: 550px;
      border-radius: 15px;
      transition: bottom 0.5s;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.329);

      .cart_items {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 0 auto;
      }

      &.hidden {
        background-color: #0f0d0d;
      }

      &.hidden .buy_c {
        background-color: #686868;
        cursor: no-drop;
        opacity: 0.6;
        pointer-events: none;
      }

      .number_c {
        display: flex;
        width: 35%;
      }
      .number_c .btn_number {
        background: transparent;
        border: 1px solid #fff;
        border-radius: 50%;
        display: flex;
        align-items: center;
        padding: 15px;
        color: #fff;
      }

      .number_c .btn_number img {
        width: 18px;
        height: 18px;
      }
    }

    input {
      background: transparent;
      color: #fff;
      font-size: 36px;
      font-weight: 500;
      width: 100%;
      text-align: center;
    }

    input[type='number']::-webkit-inner-spin-button,
    input[type='number']::-webkit-outer-spin-button {
      -webkit-appearance: none;
      appearance: none;
      margin: 0;
    }

    input[type='number'] {
      -moz-appearance: textfield;
    }

    .buy_c {
      background: $primary-color;
      padding: 10px 15px;
      border-radius: 10px;
      color: #fff;
      font-size: 18px;
      font-weight: 600;
      cursor: pointer;
      transition: all 0.5s;
    }

    .buy_c:hover {
      background-color: $hover-color;
    }

    .total_number {
      font-size: 24px;
      font-weight: 500;
      color: #fff;
    }
  }
}
