.cart_block_container {
  position: relative;
  .cart_block_content {
    .msg_cart {
      color: #7c7c7c;
      font-size: 16px;
      font-weight: 600;
      text-align: center;
      margin: 15px 0 11px 0;
      font-family: 'new-spirit';
      display: none;
      transition: all 0.5s;
      opacity: 0;

      &.visible {
        display: block;
        opacity: 1;
      }
    }

    color: #fff;
    position: fixed;
    top: 0;
    right: -25rem;
    z-index: 15;
    background: #ffffff;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    box-shadow: -12px 0px 17px -7px rgba(0, 0, 0, 0.1);
    transition: all 0.5s;

    @include md {
      right: -50rem;
    }
    @include xl {
      width: 410px;
    }

    &.active {
      right: 0;
    }

    .title_block_cart {
      margin-bottom: 30px;
      background: #f7f7f7;
      padding: 25px;

      .title_header {
        display: flex;
        align-items: center;
        justify-content: space-between; 
      }

      span {
        font-size: 15px;
        color: #6f6f6f;
        font-weight: 400;
      }

      h1 {
        color: #28282b;
        text-align: center;
        font-size: 24px;
        font-family: 'new-spirit';
        font-weight: 600;
      }
      .close-cart {
        display: flex;
        align-items: center;
        img {
          width: 30px;
          height: 30px;
          cursor: pointer;
        }
      }
    }
    .cart_block_item {
      color: #fff;
      display: flex;
      width: 100%;
      padding: 20px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;

      .info_item {
        display: flex;
        gap: 20px;
        .wp-post-image {
          width: 145px;
          height: 145px;
          border: 1px solid #dbdbdb;
          object-fit: cover;
          border-radius: 12px;
        }
        .info {
          display: flex;
          flex-direction: column;
          justify-content: space-around;

          .info_title {
            display: flex;
            flex-direction: column;
            h2 {
              font-size: 20px;
              font-family: 'new-spirit';
              font-weight: 700;
              color: $text-color;
            }
            span {
              font-size: 14px;
              font-weight: 400;
              color: #acacac;
            }
          }
          .quantity_item {
            display: flex;
            align-items: center;
            gap: 15px;
            color: #4e4e4e;
            font-size: 16px;
            font-weight: 600;
            .quantity input {
              color: #4c4c4c;
              padding: 7px 15px;
              width: 100%;
              border: 1px solid #d9d9d9;
              border-radius: 5px;
              text-align: left;
            }
            .number_c {
              border: 1px solid #dbdbdb;
              display: flex;
              border-radius: 5px;
              text-align: center;

              .btn_number {
                display: flex;
                align-items: center;
                padding: 6px;
                img {
                  width: 13px;
                  height: 13px;
                  filter: brightness(0.5);
                }
              }
              input#quantity {
                text-align: center;
                font-size: 16px;
                font-weight: 600;
                color: #6f6f6f;
              }
              .input-number-decrement {
                border-right: 1px solid #dbdbdb;
              }
              .input-number-increment {
                border-left: 1px solid #dbdbdb;
              }
            }

            a.remove {
              font-size: 13px;
              display: flex;
              align-items: center;
              color: #acacac;
              font-weight: 300;
              text-decoration: revert;
            }
          }
        }
      }
      .info_price_item {
        font-size: 20px;
        line-height: 137%;
        font-weight: 700;
        color: $text-color;
        span bdi {
          font-size: 20px;
          font-family: 'Poppins';
          font-weight: 600;
          color: #28282b;
        }
      }
    }

    .footer_cart {
      display: flex;
      width: 100%;
      align-items: center;
      flex-direction: column;
      border-top: 1px solid #ececec;
      padding: 20px;
      gap: 15px;
      text-align: center;
      .btn_continue {
        padding: 12px 15px;
        background: #995018;
        color: #ffffff;
        border-radius: 5px;
        font-size: 16px;
        width: 100%;
      }
      .btn_cancel {
        color: #ffffff;
        background: #28282b;
        padding: 12px 15px;
        border-radius: 5px;
        font-size: 16px;
        width: 100%;
        cursor: pointer;
        transition: all 0.5s;
        &:hover {
          background: #161618;
        }
      }
      p {
        color: #979797;
        font-size: 12px;
        font-weight: 400;
      }
    }

    .cart-price {
      color: #222;
      display: flex;
      flex-direction: column;

      .cart-subtotal {
        width: 100%;
        display: flex;
        justify-content: space-between;
        padding: 20px;
        span {
          font-size: 18px;
          font-weight: 400;
          color: #222;
        }
        .value_total {
          font-size: 18px;
          font-weight: 700;
        }
      }
    }
    .cart-cupom {
      gap: 15px;
      padding: 20px;

      #coupon_code_valid {
        padding: 10px 45px 10px 10px;
      }
      input[type='text'] {
        border: 1px solid #ccc;
        border-radius: 5px;
        padding: 10px 10px;
        width: 100%;
      }
      span {
        font-size: 16px;
        font-weight: 500;
        color: #000000;
        width: 75%;
      }

      .input_group {
        display: flex;
        gap: 15px;
        margin: 10px 0;
        position: relative;
        #apply_coupon {
          padding: 10px 20px;
          background: $text-color;
          color: #fff;
          font-size: 14px;
          font-weight: 500;
          border-radius: 5px;
          cursor: pointer;
          transition: all 0.5s;
          &:hover {
            background-color: $hover-color;
          }
        }
        .remove_coupon {
          position: absolute;
          right: 115px;
          top: 6px;
          z-index: 1555;
          cursor: pointer;
          display: flex;
          align-items: center;
          img {
            width: 28px;
            filter: brightness(0.5);
            height: 28px;
          }
        }
      }
      :focus {
        outline: none;
      }
    }
    .depoiments_clients {
      padding: 25px;
      color: #000;
      .depoiments_cart {
        position: relative;
        .item_slide {
          display: flex;
          flex-direction: column;
          gap: 25px;
          border: 1px solid #dbdbdb;
          padding: 20px;
          border-radius: 12px;
          .info_title {
            display: flex;
            align-items: center;
            gap: 25px;

            span {
              color: #6f6f6f;
              font-size: 18px;
              font-weight: 600;
              line-height: 160%;
            }
            figure {
              width: 60px;
              height: 60px;
            }
          }
          .info_description {
            color: #6f6f6f;
            font-size: 14px;
            font-weight: 400;
          }
        }
      }
    }
    .empty_cart {
      color: #ababab;
      text-align: center;
      font-weight: 500;
      padding: 40px;
    }
  }
}

.cart_container {
  position: relative;
  -moz-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
 
  .cart_content {
    position: relative;
    form {
      position: fixed;
      right: 0;
      left: 0;
      bottom: 5%;
      margin: 0 auto;
      display: flex;
      align-items: center;
      justify-content: space-between;
      z-index: 5;
      background: $dark-color;
      padding: 10px;
      width: 100%;
      max-width: 95%;
      border-radius: 15px;
      transition: bottom 0.5s;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.329);

      @include xl {
        bottom: 2rem;
        padding: 15px;
        max-width: 550px;
      }
      .cart_items {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 0 auto;
      }

      &.hidden {
        background-color: #0f0d0d;
      }

      &.hidden .buy_c {
        background-color: #686868;
        cursor: no-drop;
        opacity: 0.6;
        pointer-events: none;
      }

      .number_c {
        display: flex;
        width: 32%;
        @include xl {
          width: 35%;
        }
      }
      .number_c .btn_number {
        background: transparent;
        border: 1px solid #fff;
        border-radius: 50%;
        display: flex;
        align-items: center;
        padding: 10px;
        color: #fff;

        @include xl {
          padding: 15px;
        }
      }

      .number_c .btn_number img {
        width: 18px;
        height: 18px;
      }
    }

    input {
      background: transparent;
      color: #fff;
      font-size:26px;
      font-weight: 500;
      width: 100%;
      text-align: center;

      @include xl {
        font-size: 36px;
      }
    }

    input[type='number']::-webkit-inner-spin-button,
    input[type='number']::-webkit-outer-spin-button {
      -webkit-appearance: none;
      appearance: none;
      margin: 0;
    }

    input[type='number'] {
      -moz-appearance: textfield;
    }

    .buy_c {
      background: $primary-color;
      padding: 10px 10px;
      border-radius: 10px;
      color: #fff;
      font-size: 18px;
      font-weight: 600;
      cursor: pointer;
      transition: all 0.5s;

      @include xl {
        padding: 10px 15px;
        font-size: 18px;
      }
    }

    .buy_c:hover {
      background-color: $hover-color;
    }

    .total_number {
      font-size: 24px;
      font-weight: 500;
      color: #fff;
      .woocommerce-Price-amount.amount bdi {
        font-size: 24px;
        font-weight: 600;
      }
    }
  }
}

.card {
  width: 100%;
  padding: 20px;
  border-radius: 10px;
}
.card .header {
  display: flex;
  align-items: center;
  gap: 15px;
}
.header .img {
  height: 145px;
  width: 145px;
  background: #d9d9d9;
  border-radius: 12px;
  position: relative;
  overflow: hidden;
}
.details {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 50px;
}
.titles {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.details span {
  display: block;
  background: #d9d9d9;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
}
.details .name {
  height: 15px;
  width: 100px;
}
.details .about {
  height: 13px;
  width: 150px;
}
.details .price {
  height: 30px;
  width: 150px;
}
.card .description {
  margin: 25px 0;
}
.description .line {
  background: #d9d9d9;
  border-radius: 10px;
  height: 13px;
  margin: 10px 0;
  overflow: hidden;
  position: relative;
}
.description .line-1 {
  width: calc(100% - 15%);
}
.description .line-3 {
  width: calc(100% - 40%);
}
.card .btns {
  display: flex;
}
.card .btns .btn {
  height: 45px;
  width: 100%;
  background: #d9d9d9;
  border-radius: 25px;
  position: relative;
  overflow: hidden;
}
.btns .btn-1 {
  margin-right: 8px;
}
.btns .btn-2 {
  margin-left: 8px;
}
.header .img::before,
.details span::before,
.description .line::before,
.btns .btn::before {
  position: absolute;
  content: '';
  height: 100%;
  width: 100%;
  background-image: linear-gradient(
    to right,
    #d9d9d9 0%,
    rgba(0, 0, 0, 0.07) 20%,
    #d9d9d9 40%,
    #d9d9d9 100%
  );
  background-repeat: no-repeat;
  background-size: 450px 400px;
  animation: shimmer 1s linear infinite;
}
.header .img::before {
  background-size: 650px 600px;
}
.details span::before {
  animation-delay: 0.2s;
}
.btns .btn-2::before {
  animation-delay: 0.22s;
}
@keyframes shimmer {
  0% {
    background-position: -450px 0;
  }
  100% {
    background-position: 450px 0;
  }
}
