.checkout {
  &_content {
    position: relative;
    display: flex;
    flex-direction: column-reverse;

    .checkout_logo {
      display: none;
    }

    @include xl {
      height: 100vh;
      display: grid;
      grid-template-columns: 1.5fr 1fr;
      grid-template-rows: 1fr;
      grid-column-gap: 50px;
      grid-row-gap: 0px;
    }
  }

  &_woocommerce {
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    @include xl {
      padding: 1rem 0;
    }
    .progress {
      display: flex;
      flex-direction: column;

      #progressbar {
        margin: 1rem 10px;

        a {
          display: none;

          @include xl {
            display: block;
          }
        }
      }
      @include xl {
        display: flex;
        position: relative;
        align-items: center;
        gap: 25px;
        justify-content: flex-start;
        flex-direction: row;
      }
    }

    .title_order {
      color: #6f6f6f;
      font-size: 16px;
      font-weight: 500;
    }
    form {
      display: flex;
      flex-direction: column;
      gap: 15px;
      .input_group {
        display: flex;
        flex-direction: column;

        width: 100%;
        input {
          padding: 12px 20px;
          border: 1px solid #ccc;
          border-radius: 6px;
          color: #6f6f6f;
        }
      }
      .input_list_group {
        display: flex;
        flex-wrap: wrap;
        gap: 15px;
        width: 100%;
        justify-content: space-between;
        .input_group {
          width: calc(100% / 2 - 10px);
        }
      }

      :focus {
        outline: none;
        border: 1px solid #979595 !important;
      }

      .footer_button {
        display: flex;
        align-items: center;
        justify-content: space-between;
        a {
          font-size: 18px;
          font-weight: 600;
          color: #000;
        }
        a:last-child {
          background-color: $primary-color;
          color: #ffffff;
          padding: 12px 20px;
          border-radius: 8px;
        }
      }
    }
    .card {
      padding: 10px;
      @include xl {
        padding: 20px;
      }
    }

    input.previous.action-button-previous {
      width: 100%;
      margin: 25px 0 0 0;
    }
  }
  &_items {
    position: relative;
    display: none;
    top: 0;

    @include xl {
      position: relative;
      display: none;
      top: 0;
    }
    &::before {
      content: '';
      background-color: #ededed;

      position: absolute;
      width: 100vw;
      height: 100%;
      z-index: 1;
      top: 0;
      @include xl {
        background-color: #fcf3ec;
        height: 100%;

        box-shadow: unset;
        bottom: 0;
      }
    }

    @include xl {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }

    &_content {
      position: sticky;
      z-index: 12;
      padding: 45px 15px 30px 15px;
      display: flex;
      flex-direction: column;
      gap: 30px;

      @include xl {
        position: sticky;
        top: 10px;
        padding: 0 0 0 3rem;
      }
      td.product-total {
        position: absolute;
        bottom: -2rem;
        right: 6.7rem;

        @include xl {
          position: absolute;
          bottom: unset;
          right: unset;
        }
      }
      hr {
      }
      .info_item {
        display: flex;
        align-items: center;
        gap: 45px;
        figure {
          position: relative;
          .quantity {
            position: absolute;
            top: -15px;
            right: -20px;
            background: #222;
            align-items: center;
            display: flex;
            justify-content: center;
            color: #fff;
            border-radius: 50px;
            width: 40px;
            height: 40px;
          }
          .wp-post-image {
            width: 145px;
            height: 145px;
            border: 1px solid #dbdbdb;
            border-radius: 12px;
          }
        }
        .info {
          display: flex;
          justify-content: space-between;
          align-items: center;
          width: 100%;

          .info_title {
            h2 {
              font-family: 'new-spirit';
              font-weight: 800;
              font-size: 22px;
            }
            span {
              font-size: 16px;
              color: #acacac;
              font-weight: 500;
            }
          }
          .sub_total {
            font-size: 22px;
            font-weight: 700;
            line-height: 137.5%;
          }
        }
      }
      .cupom_content {
        display: flex;
        flex-direction: column;
        gap: 10px;
        h1 {
          font-size: 20px;
          font-family: 'new-spirit';
          line-height: 156%;
          font-weight: 600;
          color: #28282b;
        }

        .input_cupom {
          display: flex;
          justify-content: space-between;
          gap: 20px;
          align-items: center;
          input[type='text'] {
            width: 100%;
            background: #fff;
            border: 1px solid #ccc;
            border-radius: 5px;
            padding: 15px;
          }
          :focus {
            outline: none;
            border: 1px solid #afafaf !important;
          }
          a {
            padding: 10px 20px;
            background: #28272c;
            color: #fff;
            border-radius: 5px;
            font-size: 18px;
            font-weight: 500;
          }
        }
      }

      .price_total {
        .left_price {
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          gap: 15px;
          .col-1 {
            display: flex;
            justify-content: space-between;
            gap: 25px;

            span:first-child {
              font-family: 'new-spirit';
              font-weight: 600;
              font-size: 20px;
            }
            span {
              font-size: 20px;
              color: $text-color;
              font-weight: 500;
            }
          }
        }
      }

      .total_order {
        display: flex;
        justify-content: flex-end;
        font-size: 20px;
        font-weight: 700;
      }
    }
  }
}

.mp-checkout-custom-card-form .mp-checkout-custom-card-row {
  padding-bottom: 10px !important;
}

.terms_content {
  display: flex;
  justify-content: space-between;
  gap: 15px;
  position: relative;
  padding: 10px;
  align-items: center;
  justify-content: center;
  flex-direction: column-reverse;
  @include xl {
    display: flex;
    justify-content: space-between;
    gap: 15px;
    position: relative;
    padding: 0 20px;
  }
  a:first-child {
    padding-right: 5px;
    border-right: 1px solid #6f6f6f;

    @include xl {
      padding-right: 15px;
    }
  }
  a {
    color: #6f6f6f;
    font-size: 16px;
    font-weight: 400;
    margin-right: unset;

    @include xl {
      margin-right: 10px;
    }
  }

  .right_items ul {
    display: flex;
    align-items: center;
    gap: 25px;

    @include xl {
      li {
        img {
          width: unset;
        }
      }
    }
    li {
      img {
        width: 95px;
      }
    }
  }
}

.woocommerce-checkout .action-button {
  width: 100%;
  @include xl {
    width: unset;
  }
}
.woocommerce form .form-row-first,
.woocommerce form .form-row-last {
  width: 100% !important;
  overflow: visible;
}
@include xl {
  .woocommerce form .form-row-first,
  .woocommerce form .form-row-last {
    width: 49% !important;
    overflow: visible;
  }
}

.checkout_info_mobile_content {
  display: block;

  @include xl {
    display: none;
  } 
  .woocommerce-shipping-totals.shipping {
    border-top: unset !important;
    padding-top: unset !important;
  }
}

.checkout_info_mobile_container {
  display: block;
  &.open {
    display: block;
  }
  .checkout_info_mobile {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    background: #ededed;

    .item_left {
      display: flex;
      align-items: center;
      gap: 15px;

      font-size: 16px;
      font-family: 'new-spirit';
      font-weight: 600;
      .icon_cart {
        width: 23px;
        height: 23px;
      }
    }
    .price_info_m span bdi {
      font-size: 20px;
      font-weight: 600;
      line-height: 110%;
    }
    @include xl {
      display: none;
    }
  }
}
.logo_top {
  background: #fcf3ec;
  padding: 25px 0;
  display: block;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  img {
    width: 200px !important;
  }
  @include xl {
    background: transparent;
    padding: unset;
    display: none;
  }
}

.woocommerce table.shop_table tfoot th {
  font-weight: 600;
  font-size: 18px;
}