header {
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  z-index: 4;
  margin-bottom: 0rem;
  background-color: #fcf3ec;
  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    @include xl {
      height: 115px;
    }
    .nav_logo {
      font-family: 'new-spirit';
      font-size: 20px;
    }

    ul {
      position: relative;
      display: flex;
      gap: 45px;
      right: -250px;
      transition: right 0.5s ease;
      
      li {
        font-size: 20px;
        font-weight: 600;
        font-family: 'new-spirit';
        a {
          transition: all 0.3s;
          &:hover {
            color: $primary-color;
          }
        }
      }
      display: none;
      &.open {
        display: flex;
        position: fixed;
        bottom: 0;
        right: 0;
        top: 0;
        flex-direction: column;
        justify-content: flex-start;
        background: #fff;
        width: 255px;
        padding: 7rem 0 0 25px;
        transition: all 0.5s;
        z-index: 15;
      }
      @include xl {
        display: flex;
      }
    }
    .menu_r {
      display: flex;
      align-items: center;
      gap: 25px;
      /* flex-direction: row-reverse; */
    }
    .cart_button {
      display: flex;
      align-items: center;
      gap: 5px;
      cursor: pointer;
      img {
        width: 27px;
        height: 27px;
      }
      span {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        background: $primary-color;
        font-size: 12px;
        border-radius: 50px;
        color: #ffffff;
        width: 20px;
        height: 20px;
      }

      @include xl {
        display: flex;
      }
    }

    .menu-btn {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      transition: all 0.3s ease-in-out;

      z-index: 175;
      .menu-btn__burger,
      .menu-btn__burger::before,
      .menu-btn__burger::after {
        width: 35px;
        height: 3px;

        border-radius: 5px;
        background-color: #181616;

        transition: all 0.3s ease-in-out;
      }
      .menu-btn__burger::before,
      .menu-btn__burger::after {
        content: '';
        position: absolute;
      }
      .menu-btn__burger::before {
        transform: translateY(-12px);
      }
      .menu-btn__burger::after {
        transform: translateY(12px);
      }

      &.open {
        position: fixed;
        top: 2.7rem;
        right: 1.1rem;
        display: flex;
      }
      /* ANIMATION */
      &.open .menu-btn__burger {
        transform: translateX(-50px);
        background-color: transparent;
        box-shadow: none;
      }
      &.open .menu-btn__burger::before {
        transform: rotate(45deg) translate(35px, -35px);
      }
      &.open .menu-btn__burger::after {
        transform: rotate(-45deg) translate(35px, 35px);
      }
    }
    @include xl {
      .menu-btn {
        display: none;
      }
    }
  }
}
