header {
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  z-index: 4;
  margin-bottom: 0rem;
  background-color: #fcf3ec;
  nav {
    display: flex;
    justify-content: space-between;
    align-items: center; 
    padding:  20px;

    @include xl {
      height: 115px;
    }
    .nav_logo {
      font-family: 'new-spirit';
      font-size: 20px;
    }

    ul {
      display: flex;
      gap: 45px;
      li {
        font-size: 20px;
        font-weight: 600;
        font-family: 'new-spirit';
        a {
          transition: all 0.3s;
          &:hover {
            color: $primary-color;
          }
        }
      }
      display: none;
      @include xl {
        display: block;
      }
    }

    .cart_button {
      display: flex;
      align-items: center;
      gap: 5px;
      cursor: pointer;
      img {
        width: 27px;
        height: 27px;
      }
      span {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        background: $primary-color;
        font-size: 12px;
        border-radius: 50px;
        color: #ffffff;
        width: 20px;
        height: 20px;
      }
    }
  }
}
