.dashboard {
  position: relative;
  background-color: #fcf3ec;
  z-index: 2;
  padding: 3rem 0 0 0;
  &_content {
    position: relative;
    &_title {
      display: flex;
      align-items: center;
      flex-direction: column;
      gap: 25px;
      margin: 0 auto;

      h1 {
        font-size: 38px;
        font-weight: 700;
        font-family: 'new-spirit';
        line-height: 110%;
        text-align: center;
        color: $text-color;
        width: 85%;

        @include xl {
          font-size: 60px;
          width: 85%;
        }
      }

      p {
        text-align: center;
        color: #6f6f6f;
        font-size: 14px;
        font-weight: 400;
        line-height: 156%;
        width: 85%;

        @include xl {
          width: 70%;
        }
      }

      &::before {
        content: '';
        background: url(../img/icons/circle.svg) center no-repeat;
        background-size: contain;
        width: 450px;
        height: 160px;
        z-index: 1;
        display: block;
        position: absolute;
        bottom: 15rem;
        right: 3rem;
        -webkit-animation: 10s linear infinite rotate;
        animation: 10s linear infinite rotate;

        @keyframes rotate {
          0% {
            -webkit-transform: rotate(0);
            transform: rotate(0);
          }

          100% {
            -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
          }
        }

        display: none;
        @include xl {
          display: block;
        }
      }

      &::after {
        content: '';
        background: url('../img/icons/kata_mobile.svg') center no-repeat;
        background-size: contain;
        width: 100%;
        height: 405px;
        z-index: 1;
        display: block;
        position: relative;
        bottom: 0;
        left: 0;
        right: 0; 
        animation: fadein 3s;

        @keyframes fadein {
          from {
            opacity: 0;
          }
          to {
            opacity: 1;
          }
        }

        @include xl {
          background: url('../img/icons/kata_primary.svg') center no-repeat;
          height: 365px;
          margin-top: 4rem;
        }
      }
    }
  }
}

.about {
  position: relative;
  &_content {
    display: grid;
    grid-template-columns: 2fr 3fr;
    grid-template-rows: repeat(1, 1fr);
    grid-column-gap: 105px;
    grid-row-gap: 0px;

    &_left {
      display: flex;
      flex-direction: column;
      gap: 55px;

      .titles_left {
        position: relative;
        display: flex;
        flex-direction: column;
        gap: 25px;
        span {
          text-transform: uppercase;
          font-size: 18px;
          letter-spacing: 5px;
          padding-left: 75px;
          display: block;
          font-family: 'Helmet-Regular';
          &::before {
            content: '';
            position: absolute;
            left: 0;
            display: block;
            top: 9px;
            background: $hover-color;
            height: 3px;
            width: 55px;
          }
        }
        h1 {
          font-family: 'new-spirit';
          font-weight: 700;
          font-size: 34px;
          color: $text-color;
        }
      }
      p {
        font-size: 16px;
        font-weight: 400;
        color: #6f6f6f;
      }
    }
    &_right {
      width: 100%;

      .card_content {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-column-gap: 35px;
        grid-row-gap: 30px;
        .card_about {
          display: flex;
          flex-direction: column;
          gap: 10px;

          h1 {
            font-family: 'new-spirit';
            color: $text-color;
            font-size: 20px;
          }

          h4 {
            color: #6f6f6f;
            font-size: 14px;
            font-weight: 400;
          }
          figure img {
            width: 55px;
            height: 45px;
          }
        }
      }
    }
  }
}

.depoiments {
  &_content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 50px;
    grid-row-gap: 50px;

    &_title {
      position: relative;
      font-size: 18px;
      padding-left: 65px;
      font-family: 'Helmet-Regular';
      letter-spacing: 5px;
      &::before {
        content: '';
        position: absolute;
        display: block;
        width: 55px;
        height: 3px;
        background-color: $primary-color;
        left: 0;
        bottom: 0;
        top: 8px;
      }
    }

    &_right {
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 2rem;
      h1 {
        width: 65%;
      }
    }

    &_left {
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 2rem;

      h1 {
        width: 75%;
      }

      p {
        width: 75%;
        color: #6f6f6f;
        font-size: 16px;
        line-height: 160%;
      }
    }
    h1 {
      font-family: 'new-spirit';
      font-weight: 600;
      font-size: 33px;
    }
    figure {
      img {
        width: 100%;
        height: 100%;
      }
    }

    &_user {
      display: flex;
      align-items: center;
      gap: 25px;

      span {
        color: $text-color;
        font-size: 16px;
        font-weight: 500;
      }
    }
  }
}

.functions {
  padding: 105px;
  background-color: #fcf3ec;

  &_content {
    display: flex;
    flex-direction: column;
    gap: 5rem;
    &_title {
      font-family: 'new-spirit';
      font-size: 50px;
      font-weight: 700;
      color: $text-color;
    }

    &_cards {
      display: flex;
      gap: 25px;
      .functions_cards {
        width: calc(100% / 4);
        background-color: #fff;
        padding: 35px;
        border-radius: 50px;
        box-shadow: 0px 0px 13px 2px rgba(97, 41, 41, 0.05);
        display: flex;
        flex-direction: column;
        gap: 2rem;
        h1 {
          font-family: 'new-spirit';
          font-size: 38px;
          font-weight: 600;
          color: $primary-color;
        }

        p {
          font-size: 16px;
          line-height: 160%;
          font-weight: 400;
          color: #6f6f6f;
        }
      }
    }
  }
}

.product {
  &_content {
    display: grid;
    grid-template-columns: 2fr 3fr;
    grid-template-rows: repeat(1, 1fr);
    grid-column-gap: 105px;
    grid-row-gap: 0px;

    &_left {
      display: flex;
      flex-direction: column;
      gap: 3rem;

      &_title {
        position: relative;
        font-size: 18px;
        padding-left: 65px;
        font-family: 'Helmet-Regular';
        letter-spacing: 5px;
        &::before {
          content: '';
          position: absolute;
          display: block;
          width: 55px;
          height: 3px;
          background-color: $primary-color;
          left: 0;
          bottom: 0;
          top: 8px;
        }
      }

      ul {
        display: flex;
        flex-direction: column;
        gap: 35px;
        margin-left: 1rem;
        li {
          display: flex;
          align-items: center;
          gap: 25px;

          font-size: 20px;
          font-weight: 400;
          font-family: 'new-spirit';
          color: #6f6f6f;
        }
      }

      &_about {
        display: flex;
        flex-direction: column;
        gap: 35px;
        h1 {
          font-family: 'new-spirit';
          font-weight: 600;
          font-size: 33px;
        }

        p {
          font-size: 16px;
          font-weight: 400;
          color: #6f6f6f;
        }
      }
    }

    &_right {
      display: grid;
      grid-template-columns: 1fr 2fr;
      grid-template-rows: repeat(1, 1fr);
      grid-column-gap: 25px;
      grid-row-gap: 33px;

      .image_highligts {
        background-color: #d9d9d9;
        border-radius: 30px;
        width: 380px;
        grid-area: 1 / 1;
      }
      .image_right {
        grid-area: 2 / 2 / 1;
        display: grid;
        grid-row-gap: 30px;
        .image_secundary {
          background-color: #d9d9d9;
          border-radius: 30px;
          height: 220px;
        }
      }
    }
  }
}

.video {
  &_content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 40px;
    grid-row-gap: 0px;
    gap: 4rem;
    .video_player {
      width: 870px;
      height: 550px;
      background-color: #c4c4c4;
      border-radius: 60px;
      display: flex;
      justify-content: center;
      align-items: center;

      &::before {
        content: '';
        background: url(../img/icons/icon_play.svg) center no-repeat;
        background-size: contain;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 195px;
        width: 195px;
      }
    }

    .video_title {
      font-family: 'new-spirit';
      font-size: 50px;
      font-weight: 600;
      display: flex;
      align-items: center;
    }
  }
}
.depoiments_kata {
  padding: 105px;
  background-color: #fcf3ec;

  &_content {
    &_title {
      font-family: 'new-spirit';
      font-size: 50px;
      font-weight: 700;
      color: $text-color;
      width: 45%;
      margin-bottom: 4rem;
    }

    .depoiments_kata_cards {
      background-color: #fff;
      padding: 35px;
      border-radius: 50px;
      box-shadow: 0px 0px 13px 2px rgba(97, 41, 41, 0.05);
      display: flex;
      flex-direction: column;
      gap: 2rem;

      figure {
        display: flex;
        align-items: center;
        justify-content: center;
        img {
          border: 2px solid #bc6626;
          border-radius: 50%;
          padding: 5px;
        }
      }
      p {
        font-size: 16px;
        line-height: 160%;
        font-weight: 400;
        color: #6f6f6f;
        text-align: center;
      }
      .info_user {
        display: flex;
        flex-direction: column;
        align-items: center;

        h1 {
          font-family: 'new-spirit';
          font-size: 20px;
          font-weight: 700;
          color: $text-color;
        }
        span {
          font-size: 14px;
          font-weight: 400;
          color: #6f6f6f;
        }
      }
    }
  }
}

.faq {
  &_title {
    font-family: 'new-spirit';
    font-size: 50px;
    font-weight: 600;
    text-align: center;
    color: $text-color;
    margin-bottom: 5rem;
  }

  &_content {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    gap: 30px;
    flex-direction: column;

    .faq-item {
      border-bottom: 1px solid #b1bbc8;

      .faq-toggle {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-size: 30px;
        font-weight: 600;
        font-family: 'new-spirit';
        cursor: pointer;
        padding-bottom: 35px;
        gap: 15px;
      }

      .faq-icon {
        display: flex;
        align-items: center;
        justify-content: center;

        .arrow {
          position: relative;
          top: 10px;
          right: 20px;
        }

        .arrow::before,
        .arrow::after {
          position: relative;
          content: '';
          display: block;
          width: 15px;
          height: 2px;
          background-color: $primary-color;
          transition: 0.3s ease-in-out;
        }

        .arrow::before {
          transform: rotate(45deg);
        }

        .arrow::after {
          left: 10px;
          top: -2px;
          transform: rotate(-45deg);
        }
        &.active .arrow::before {
          transform: rotate(-45deg);
        }

        &.active .arrow::after {
          transform: rotate(45deg);
        }
      }

      .faq-description {
        position: relative;
        width: 100%;
        height: 0;
        overflow: hidden;
        transition: all 0.5s cubic-bezier(0.42, 0, 0.14, 2.07);
        p {
          font-size: 20px;
          line-height: 22px;
          color: #646a73;
        }
      }
    }
  }
}

.footer_kata {
  background-color: #e5e5e5;
  padding: 7rem 0 20rem 0;
  &_content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 25px;
    h1 {
      text-align: center;
      font-size: 50px;
      font-family: 'new-spirit';
      font-weight: 600;
    }

    p {
      font-size: 18px;
      font-weight: 400;
      color: #656565;
      text-align: center;
      width: 45%;
      margin: 0 auto;
    }
  }
}
