 
// set screen size

$screen-sm-min: 576px;

$screen-md-min: 768px;

$screen-lg-min: 992px;

$screen-xl-min: 1200px;

// set mixins
@mixin sm {
    @media (min-width: #{$screen-sm-min}) {
        @content;
    }
 }

 @mixin md {
    @media (max-width: #{$screen-md-min}) {
        @content;
    }
 }
 
 @mixin lg {
    @media (min-width: #{$screen-lg-min}) {
        @content;
    }
 }

 @mixin xl {
    @media (min-width: #{$screen-xl-min}) {
        @content;
    }
 }

$bg-color: #FFFFFF;
$primary-color: #bc6626;
$hover-color: #995018;
$text-color: #28282B;
$dark-color: #28282B;

 