.woocommerce form input {
    padding: 12px;
    border: 1px solid #C5C5C5;
    border-radius: 5px;
}

.form-row label {
    display: none !important;
}

h3 {
    font-size: 16px;
    color: #6F6F6F;
    font-weight: 500;
    margin: 15px 0 !important;
}

h4 {
    font-size: 16px;
    color: #6F6F6F;
    font-weight: 500;
    margin: 15px 0 !important;
}

img.logo_kata {
    width: 150px;
    border: unset;
}

.select2-container--default .select2-selection--single {
    background-color: #fff;
    border: 1px solid #C5C5C5 !important;
    border-radius: 4px;
}

.select2-container .select2-selection--single {
    height: 51px !important;

}

.select2-container--default .select2-selection--single .select2-selection__rendered {
    color: #343434;
    line-height: 50px !important;
    font-size: 16px !important;
    font-weight: 500;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
    height: 32px;
    position: absolute;
    top: 6px !important;
    right: 10px !important;
    width: 27px;
}

.select2-container--default .select2-selection--single .select2-selection__arrow b {

    border-width: 6px 6px 0 6px !important;
}

.form-row-large-last {

    width: 30%;
    float: right;
}

.form-row-large-first {
    width: 68%;
    float: left;
}

.form-row-middle-first {
    width: 58%;
    float: left;
}

.form-row-middle-last {
    width: 40%;
    float: right;
}

.woocommerce form .form-row-first,
.woocommerce form .form-row-last,
.woocommerce-page form .form-row-first,
.woocommerce-page form .form-row-last {
    width: 49%;
    overflow: visible;
}

.wpmc-button {
    padding: 10px 25px;
    font-size: 16px;
    font-family: 'Poppins';
    font-weight: 600;
    border-radius: 4px;
}

.woocommerce_checkout_coupon {
    display: none !important;
}

.woocommerce-error,
.woocommerce-info,
.woocommerce-message {
    padding: unset !important;
    margin: unset !important;
    position: relative;
    background-color: unset !important;
    color: #515151;
    border-top: unset !important;
    width: unset !important;
    word-wrap: unset;
    display: flex;
    flex-direction: column;

    gap: 15px;
}

.woocommerce-error::before,
.woocommerce-info::before,
.woocommerce-message::before {
    content: none !important;
    display: inline-block;
    position: relative !important;
    top: unset !important;
    left: unset;
}

.woocommerce-error li {
    font-size: 14px;
    font-weight: 500;
    text-align: inherit;
}

#order_review_heading {
    display: none;
}

.notes textarea {
    border-radius: 5px;
    padding: 15px;
    color: #222;
    border: 1px solid #C5C5C5 !important;
}

thead {
    display: none;
}

tfoot {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
}

.cart_item {
    display: none;
}

table {
    padding: 0;
    margin: 0;
    width: 100%;
}

th {
    color: #28282B;
    font-weight: 700;
    font-size: 16px;
    text-align: left;
}

tr.order-total {
    display: none;
    justify-content: space-between;
}

bdi {
    font-size: 16px;
    font-weight: 700;
    font-family: 'Poppins';
}



#add_payment_method #payment,
.woocommerce-cart #payment,
.woocommerce-checkout #payment {
    background: #fff !important;
}

#add_payment_method #payment ul.payment_methods,
.woocommerce-cart #payment ul.payment_methods,
.woocommerce-checkout #payment ul.payment_methods {
    text-align: left;
    padding: unset !important;
    border-bottom: unset !important;
    margin: 0;
    list-style: none outside;
}

#add_payment_method #payment div.payment_box,
.woocommerce-cart #payment div.payment_box,
.woocommerce-checkout #payment div.payment_box {
    position: relative;
    box-sizing: border-box;
    width: 100%;
    padding: unset !important;
    margin: 10px 0 0 0 !important;
    font-size: unset !important;
    border-radius: unset !important;
    line-height: 1.5 !important;
    background-color: unset !important;
    color: #515151;
}

#add_payment_method #payment div.payment_box::before,
.woocommerce-cart #payment div.payment_box::before,
.woocommerce-checkout #payment div.payment_box::before {
    content: none !important;
}

.woocommerce-privacy-policy-text p {
    font-size: 16px;
    text-align: justify;
    margin: 0 0 34px 0;
}

button#place_order {
    margin-top: 2rem;
    background: #28272c;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: .5px;
    transition: all .4s;
}

button#place_order:hover {
    background-color: #bc6626;
}

.woocommerce ul#shipping_method li input {
    margin: unset !important;
    vertical-align: unset !important;
}

.woocommerce ul#shipping_method li {
    margin: unset !important;
    line-height: unset !important;
    list-style: none outside;
    display: flex;
    align-items: center;
    gap: 11px;
    font-size: 14px;
    font-weight: 500;
}

.col-1 .woocommerce-shipping-methods li input {
    display: none;
}

.checkout_items table {

    z-index: 999999999;
}

.checkout_items tr.cart_item {
    display: block;
}

.checkout_items tr.order-total {
    display: flex;
    justify-content: space-between;
}

.checkout_items thead {
    display: block;
}

tr.cart-subtotal {
    display: none;
}

.woocommerce table.shop_table td {
    position: relative;
    border-top: unset;
    display: flex;
    align-items: center;
    gap: 20px;
    padding: unset;
    line-height: unset;
    font-size: 20px;
    font-family: 'new-spirit';
    font-weight: 700;
}

.checkout_items tr.cart_item {
    position: relative;
    width: calc(100% / 1);
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 25px;
}

.product-name img {
    height: 145px !important;
    width: 145px;
    max-width: 145px !important;
    border-radius: 12px;
    border: 1px solid #DBDBDB;
}

.cart_item .product-quantity {
    position: absolute;
    top: -1.1rem;
    left: 6.8rem;
    background: #222;
    color: #fff;
    padding: 8px 10px;
    border-radius: 51px;
    display: flex;
    align-items: center;
    font-size: 18px;
    font-family: 'Poppins';
    font-weight: 500;
}

.checkout_items thead {
    display: none;
}

.checkout_items_content .cart-subtotal {
    display: flex;
    justify-content: space-between;
    border-top: 2px solid #6F6F6F;
    padding-top: 25px;
}

.checkout_items_content .cart-subtotal th {
    font-size: 20px;
    font-family: 'new-spirit';
    font-weight: 600;
}

.checkout_items_content .cart-subtotal .woocommerce-Price-amount bdi {
    font-size: 20px;
    font-weight: 500;
}

.cart_item .woocommerce-Price-amount bdi {
    font-size: 20px;
    font-weight: 700;
}

.checkout_items_content tr.order-total {
    border-top: 2px solid #6F6F6F;
    padding-top: 25px;
}

.checkout_items_content .order-total th {
    font-size: 20px;
    font-weight: 600;
    font-family: 'new-spirit';
}

.checkout_items_content .order-total .woocommerce-Price-amount bdi {
    font-size: 20px;
    font-weight: 700;
}

.checkout_items_content tr.cart-discount.coupon-cupom {
    display: flex;
    justify-content: space-between;
}

.checkout_items_content tr.cart-discount.coupon-cupom th {
    font-size: 20px;
    font-weight: 600;
    font-family: 'new-spirit';
}


tr.cart-discount.coupon-cupom {
    display: none;
}

.woocommerce-checkout-review-order .woocommerce-shipping-totals {
    display: none;
    flex-direction: column;
}

h3#payment_heading {
    display: none;
}

#add_payment_method #payment ul.payment_methods li,
.woocommerce-cart #payment ul.payment_methods li,
.woocommerce-checkout #payment ul.payment_methods li {
    line-height: unset;
    text-align: left;
    margin: unset;
    font-weight: 500;
    border: 1px solid #C5C5C5;
    padding: 10px;
}

.mp-checkout-pix-container {
    padding: unset !important;
}

.woocommerce-terms-and-conditions-wrapper {
    display: none;
}

.payment_method_woo-mercado-pago-pix {
    border-radius: 0 0 10px 10px !important;
}

.payment_method_woo-mercado-pago-custom {
    border-radius: 10px 10px 0 0;
}

button#wpmc-prev {

    position: absolute;
    bottom: 0;
    left: 0;
    background: transparent;
    color: #fff;
    font-size: 16px;
    padding: 10px 15px;
    font-family: 'Poppins';
    background: #bc6626;
}

.woocommerce {
    position: relative;
}

button#place_order {
    /* margin-top: 2rem; */
    background: #28272c;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: .5px;
    transition: all .4s;
    position: absolute;
    right: 0;
    bottom: 0;
    padding: 14px 20px;
}

.mp-checkout-ticket-container {
    padding: unset !important;
}

.wpmc-tabs-wrapper {
    border-bottom: unset !important;
}

.mp-checkout-custom-container {
    padding: unset !important;
}

.woocommerce-shipping-totals th {
    font-size: 20px;
    font-family: 'new-spirit';
    font-weight: 600;
}

.woocommerce-shipping-totals.shipping {
    display: flex;
    flex-direction: column;
    gap: 15px;
    border-top: 2px solid #6F6F6F;
    padding-top: 25px;
}

#shipping_method {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 100%;
}

#shipping_method li {
    display: flex;
    align-items: center;
    gap: 15px;
}

#shipping_method label {
    display: flex !important;
    justify-content: space-between;
    align-items: center;
    position: relative;
    width: 100%;
    font-size: 18px;
    font-family: 'Poppins';
}


#shipping_method li input[type=radio] {
    appearance: none;
    width: 23px;
    height: 22px;
    border-radius: 50%;
    background-clip: content-box;
    border: 2px solid rgb(147 147 147);
    background-color: rgb(255 255 255);
    padding: 5px;
}

#shipping_method li input[type="radio"]:checked {
    background-color: #d77b1d;
    padding: 4px;
    border: 2px solid #3a3a3a;
}

#shipping_method span.woocommerce-Price-amount.amount bdi {
    font-size: 20px;
    font-weight: 500;
}

#add_payment_method #payment ul.payment_methods li input,
.woocommerce-cart #payment ul.payment_methods li input,
.woocommerce-checkout #payment ul.payment_methods li input {
    margin: 0 1em 0 15px;
}

.woocommerce-NoticeGroup.woocommerce-NoticeGroup-checkout {
    display: none;
}

.select2-container--default .select2-results__option--highlighted[aria-selected],
.select2-container--default .select2-results__option--highlighted[data-selected] {
    background-color: #bc6626 !important;
    color: #fff;
}

.select2-container--default .select2-search--dropdown .select2-search__field {
    border: 1px solid #c5c5c5;
}

.select2-search--dropdown .select2-search__field {
    padding: 8px;
    width: 100%;
    box-sizing: border-box;
    border-radius: 8px;
}

.select2-results__option {
    padding: 8px 7px !important;
    user-select: none;
    -webkit-user-select: none;
    font-size: 16px !important;
    font-weight: 500 !important;
}

input[type=radio]:checked {
    accent-color: #28282B;
}


#heading {
    text-transform: uppercase;
    color: #673AB7;
    font-weight: normal
}

.woocommerce-checkout {
    position: relative;
}

.woocommerce-checkout fieldset {
    background: white;
    border: 0 none;
    border-radius: 0.5rem;
    box-sizing: border-box;
    width: 100%;
    margin: 0;
    position: relative
}

.form-card {
    text-align: left
}

.woocommerce-checkout fieldset:not(:first-of-type) {
    display: none
}

.woocommerce-checkout input,
.woocommerce-checkout textarea {
    padding: 8px 15px 8px 15px;
    border: 1px solid #ccc;
    border-radius: 0px;
    margin-bottom: 25px;
    box-sizing: border-box;
    font-family: 'Poppins';
    color: #353535;
    font-size: 16px;
    font-weight: 500;
}

.woocommerce-checkout input:focus,
.woocommerce-checkout textarea:focus {
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    border: 1px solid #b77d3a;
    outline-width: 0
}

.woocommerce-checkout .action-button {
    background: #BC6626;
    color: #ffffff;
    border: 0 none;
    border-radius: 0px;
    cursor: pointer;
    font-family: 'Poppins';
    font-weight: 600;
    border-radius: 3px;
    position: relative;
    float: right;
}

.woocommerce-checkout .action-button:hover,
.woocommerce-checkout .action-button:focus {
    background-color: #b15e1f
}

.woocommerce-checkout .action-button-previous {
    background: #222;
    color: #ffffff;
    border: 0 none;
    border-radius: 0px;
    cursor: pointer;
    padding: 10px 15px;
    float: left;
    border-radius: 3px;
    font-weight: 600;
    font-size: 16px;
    position: absolute;
    bottom: 0;
}

.woocommerce-checkout .action-button-previous:hover,
.woocommerce-checkout .action-button-previous:focus {
    background-color: #000000
}

.card {
    z-index: 0;
    border: none;
    position: relative
}

.fs-title {
    font-size: 25px;
    color: #BC6626;
    margin-bottom: 15px;
    font-weight: normal;
}

.purple-text {
    color: #BC6626;
    font-weight: normal
}

.steps {
    font-size: 25px;
    color: gray;
    margin-bottom: 10px;
}

.fieldlabels {
    color: gray;
    text-align: left
}

#progressbar {
    overflow: hidden;
    display: flex;
    align-items: center;
    gap: 35px;
}

#progressbar .active {
    color: #BC6626
}

#progressbar li {
    position: relative;
    display: flex;
    align-items: center;
    gap: 25px;
    font-size: 16px;
    font-weight: 500;
}

#progressbar #billing::before {

    content: ">";
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    /* background-color: #2cc9b7; */
    position: absolute;
    right: -70px;
    font-size: 24px;
    font-weight: 400;
    color: #222;
}

.progress {
    height: 20px
}

.progress-bar {
    background-color: #673AB7
}

.woocommerce table.shop_table tbody th,
.woocommerce table.shop_table tfoot td,
.woocommerce table.shop_table tfoot th {

    border-top: unset;

}

.woocommerce table.shop_table td {

    border-top: unset;
}

.woocommerce table.shop_table {

    border: unset;
    margin: unset;
    text-align: unset;
    width: 100%;
    border-collapse: unset;
    border-radius: unset;
}

.woocommerce table.shop_table th {
    padding: unset !important;
    line-height: unset !important;
}

input#place_order {
    background: #BC6626;
    font-family: 'Poppins';
    font-weight: 500;
    font-size: 16px;
    padding: 15px 20px;
    color: #ffffff;
}

#add_payment_method #payment div.form-row,
.woocommerce-cart #payment div.form-row,
.woocommerce-checkout #payment div.form-row {
    padding: 1em 0;
}