.woocommerce form input {
    padding: 12px;
    border: 1px solid #C5C5C5;
    border-radius: 5px;
}

.form-row label {
    display: none !important;
}

h3 {
    font-size: 16px;
    color: #6F6F6F;
    font-weight: 500;
    margin: 15px 0 !important;
}

h4 {
    font-size: 16px;
    color: #6F6F6F;
    font-weight: 500;
    margin: 15px 0 !important;
}

.select2-container--default .select2-selection--single {
    background-color: #fff;
    border: 1px solid #C5C5C5 !important;
    border-radius: 4px;
}

.select2-container .select2-selection--single {
    height: 41px !important;

}

.select2-container--default .select2-selection--single .select2-selection__rendered {
    color: #444;
    line-height: 39px !important;
    font-size: 13px !important;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
    height: 32px;
    position: absolute;
    top: 6px !important;
    right: 10px !important;
    width: 27px;
}

.select2-container--default .select2-selection--single .select2-selection__arrow b {

    border-width: 6px 6px 0 6px !important;
}

.form-row-large-last {

    width: 30%;
    float: right;
}

.form-row-large-first {
    width: 68%;
    float: left;
}

.form-row-middle-first {
    width: 58%;
    float: left;
}

.form-row-middle-last {
    width: 40%;
    float: right;
}

.woocommerce form .form-row-first,
.woocommerce form .form-row-last,
.woocommerce-page form .form-row-first,
.woocommerce-page form .form-row-last {
    width: 49%;
    overflow: visible;
}

.wpmc-button {
    padding: 12px 25px;
    font-size: 16px;
    font-weight: 600;
    border-radius: 6px;
}

.woocommerce_checkout_coupon {
    display: none !important;
}

.woocommerce-error,
.woocommerce-info,
.woocommerce-message {
    padding: unset !important;
    margin: unset !important;
    position: relative;
    background-color: unset !important;
    color: #515151;
    border-top: unset !important;
    width: unset !important;
    word-wrap: unset;
    display: flex;
    align-items: center;
    gap: 15px;
}

.woocommerce-error::before,
.woocommerce-info::before,
.woocommerce-message::before {
    display: inline-block;
    position: relative !important;
    top: unset !important;
    left: unset;
}

.woocommerce-error li {
    font-size: 14px;
    font-weight: 500;
    text-align: inherit;
}

#order_review_heading {
    display: none;
}

.notes textarea {
    border-radius: 5px;
    padding: 15px;
    color: #222;
    border: 1px solid #C5C5C5 !important;
}

thead {
    display: none;
}

tfoot {
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 100%;
}
.cart_item {
    display: none;
}

th {
    font-family: 'new-spirit';
    color: #28282B;
    font-weight: 700;
    font-size: 20px;
    text-align: left;
    margin-bottom: 15px;
}

tr.cart-subtotal {
    display: flex;
    justify-content: space-between;
}

bdi {
    font-size: 20px;
    font-weight: 600;
    font-family: 'Poppins';
}.woocommerce-shipping-totals.shipping {
    display: flex;
    flex-direction: column;
}tr.order-total {
    display: flex;
    justify-content: space-between;
}